{
    "source" :"C:\\Users\\Tim\\Documents\\1802\\Questionnaire\\Custodian.xlsx",
    "template" :"~picklists.sql",
    "parser":"questionnaire_picklist_parser",
    "generate_to":"script", 
    "parse_to":"", 
    "indexes":[{"PK_Question":50000}, {"PK_1":5000}],
    "template_sql" :"C:\\_som\\_src\\{TEMPLNAME}.aspx",
    "encoding":"utf-8",
    "connstr":"",
    "parsers":["questionnaire_picklist_parser", "questionnaire_parser"],
    "generators": ["console","script"],
    "templates":
        [
            "C:\\_som\\_src\\{TEMPLNAME}.aspx",
            "~picklists.sql"
        ]
}
